.charContainer-10{
	height: 0px !important;
	padding-top: 10px;
}
.charContainer-9{
	height: 0px !important;
	padding-top: 9px;
}
.charContainer-8{
	height: 0px !important;
	padding-top: 8px;
}
.charContainer-7{
	height: 0px !important;
	padding-top: 7px;
}
.charContainer-6{
	height: 0px !important;
	padding-top: 6px;
}
.charContainer-5{
	height: 0px !important;
	padding-top: 5px;
}
.charContainer-4{
	height: 0px !important;
	padding-top: 4px;
}
.charContainer-3{
	height: 0px !important;
	padding-top: 3px;
}
.charContainer-2{
	height: 0px !important;
	padding-top: 2px;
}
.charContainer-1{
	height: 0px !important;
	padding-top: 1px;
}
.charContainer0{
	height: 0px !important;
}
.charContainer1{
	height: 1px !important;
}
.charContainer2{
	height: 2px !important;
}
.charContainer3{
	height: 3px !important;
}
.charContainer4{
	height: 4px !important;
}
.charContainer5{
	height: 5px !important;
}
.charContainer6{
	height: 6px !important;
}
.charContainer7{
	height: 7px !important;
}
.charContainer8{
	height: 8px !important;
}
.charContainer9{
	height: 9px !important;
}
.charContainer10{
	height: 10px !important;
}
.charContainer11{
	height: 11px !important;
}
.charContainer12{
	height: 12px !important;
}
.charContainer13{
	height: 13px !important;
}
.charContainer14{
	height: 14px !important;
}
.charContainer15{
	height: 15px !important;
}
.charContainer16{
	height: 16px !important;
}
.charContainer17{
	height: 17px !important;
}
.charContainer18{
	height: 18px !important;
}
.charContainer19{
	height: 19px !important;
}
.charContainer20{
	height: 20px !important;
}
.charContainer21{
	height: 21px !important;
}
.charContainer22{
	height: 22px !important;
}
.charContainer23{
	height: 23px !important;
}
.charContainer24{
	height: 24px !important;
}
.charContainer25{
	height: 25px !important;
}
.charContainer26{
	height: 26px !important;
}
.charContainer27{
	height: 27px !important;
}
.charContainer28{
	height: 28px !important;
}
.charContainer29{
	height: 29px !important;
}
.charContainer30{
	height: 30px !important;
}
.charContainer31{
	height: 31px !important;
}
.charContainer32{
	height: 32px !important;
}
.charContainer33{
	height: 33px !important;
}
.charContainer34{
	height: 34px !important;
}
.charContainer35{
	height: 35px !important;
}
#----------------NPC------------------------------

.charContainerNPC-10{
	height: 0px !important;
	padding-top: 10px;
}
.charContainerNPC-9{
	height: 0px !important;
	padding-top: 9px;
}
.charContainerNPC-8{
	height: 0px !important;
	padding-top: 8px;
}
.charContainerNPC-7{
	height: 0px !important;
	padding-top: 7px;
}
.charContainerNPC-6{
	height: 0px !important;
	padding-top: 6px;
}
.charContainerNPC-5{
	height: 0px !important;
	padding-top: 5px;
}
.charContainerNPC-4{
	height: 0px !important;
	padding-top: 4px;
}
.charContainerNPC-3{
	height: 0px !important;
	padding-top: 3px;
}
.charContainerNPC-2{
	height: 0px !important;
	padding-top: 2px;
}
.charContainerNPC-1{
	height: 0px !important;
	padding-top: 1px;
}
.charContainerNPC0{
	height: 0px !important;
}
.charContainerNPC1{
	height: 1px !important;
}
.charContainerNPC2{
	height: 2px !important;
}
.charContainerNPC3{
	height: 3px !important;
}
.charContainerNPC4{
	height: 4px !important;
}
.charContainerNPC5{
	height: 5px !important;
}
.charContainerNPC6{
	height: 6px !important;
}
.charContainerNPC7{
	height: 7px !important;
}
.charContainerNPC8{
	height: 8px !important;
}
.charContainerNPC9{
	height: 9px !important;
}
.charContainerNPC10{
	height: 10px !important;
}
.charContainerNPC11{
	height: 11px !important;
}
.charContainerNPC12{
	height: 12px !important;
}
.charContainerNPC13{
	height: 13px !important;
}
.charContainerNPC14{
	height: 14px !important;
}
.charContainerNPC15{
	height: 15px !important;
}
.charContainerNPC16{
	height: 16px !important;
}
.charContainerNPC17{
	height: 17px !important;
}
.charContainerNPC18{
	height: 18px !important;
}
.charContainerNPC19{
	height: 19px !important;
}
.charContainerNPC20{
	height: 20px !important;
}
.charContainerNPC21{
	height: 21px !important;
}
.charContainerNPC22{
	height: 22px !important;
}
.charContainerNPC23{
	height: 23px !important;
}
.charContainerNPC24{
	height: 24px !important;
}
.charContainerNPC25{
	height: 25px !important;
}
.charContainerNPC26{
	height: 26px !important;
}
.charContainerNPC27{
	height: 27px !important;
}
.charContainerNPC28{
	height: 28px !important;
}
.charContainerNPC29{
	height: 29px !important;
}
.charContainerNPC30{
	height: 30px !important;
}
.charContainerNPC31{
	height: 31px !important;
}
.charContainerNPC32{
	height: 32px !important;
}
.charContainerNPC33{
	height: 33px !important;
}
.charContainerNPC34{
	height: 34px !important;
}
.charContainerNPC35{
	height: 35px !important;
}