body {
	font-family: Verdana, Arial, Lucida Console;
	font-weight: normal;
	font-size: 20px;
	color: #CDDAE0;
	
	background-color: #203B58;
}

div {
	overflow: hidden;
}

H1 {
	font-size: 35px;
}

input, select, button {
	font-family: Verdana;
	font-weight: bold;
	font-size: 18px;
	color: #CDDAE0;
	background-color: #203B58;
	border: 2px solid #88A8B7;
	border-radius: 4px;
	outline: none;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
	button{
		font-weight: normal !important;
	}
}

button{
	cursor: hand;
}

input:hover, select:hover, button:hover {
	box-shadow: 0 0 7px #88A8B7;
}

input:focus, select:focus, button:focus {
	box-shadow: 0 0 10px 1px #88A8B7;
}

hr {
	width: 100%;
	size: 2px;
	color: #CDDAE0;
}


::-webkit-input-placeholder { /* WebKit browsers */
    color:    #CDDAE0;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #CDDAE0;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #CDDAE0;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #CDDAE0;
}

/*----------LOGO-----------*/

#logoTop {
	#color: #B0C6E2;
	color: #CDDAE0;
	#color: #B5C9D2;
	max-height:23px;
	overflow: hidden;
	padding-top: 0px;
	clear: both;
}

#logoMiddle {
	color: #B5C9D2;
	max-height:2px;
	overflow: hidden;
	vertical-align: bottom;
	clear: both;
}

#logoMiddleInner {
	margin-top: -23px;
}

#logoBottom {
	color: #88A8B7;
	max-height:11px;
	overflow: hidden;
	vertical-align: bottom;
	clear: both;
}

#logoBottomInner {
	margin-top: -25px;
}

/*----------CharContainer-----------*/

#charMasterContainer {
	width: 100%;
	text-align: left;
}

#charContainerHeader {
	font-weight: bold;
}

.charContainer, .charContainerNpc, .charContainerSelected, .charContainerHeader {
	width: 100%;
	height: 35px;
	padding: 2px;
	overflow: hidden;
}

.charContainerNpc{
	color: #88A8B7;
}

.charContainerSelected{
	background-color: #CDFFCD;
	color: #203B58;
}

#charDel{
	width: 37px;
	float: left;
	#color: #FF8888;
	color: #CDDAE0;
	font-weight: bold;
}

.charDelButton{
	height: 28px;
}

.charDelButton:hover, #sceneDelButton:hover{
	color: #FF6666;
	border: 2px solid #FF6666;
	box-shadow: 0 0 7px #FF6666;
	cursor: hand;
}

#charDelMinus{
	margin-top: -9px;
	font-size: 30px;
	font-weight: bold;
}

#charName, #charInit, #subContainer {
	float: left;
}

#charName{
	width: 20%;
}

#charInit{
	position: relative;
}

.charInitInput {
	width: 31px;
	margin-right: 0px;
}

.charInitFloat {
	visibility: hidden;
	position: absolute;
	left: 2px;
	top: 3px;
	float: left;
	color: #FF6666;
	font-weight: bold;
	text-shadow: 0px 0px 5px #FF6666;
}

#subContainer{
	padding-left: 10px;
}

.sub5Button{
	width: 31px;
	padding-left: 2px;
}

 .sub10Button{
	width: 44px;
	padding-left: 3px;
}

/*----------CharAddForm-----------*/
#charAdd{
	float: left;
}
#formSeparator {
	width: 450px;
	margin-left: 0px;
}

#charAddForm {
	width: 100%;
	margin-top: 10px;
	float: left;
	/* text-align: left;  */
}

#charNameInput, #charNpcSelect, #charAddNpcText, #charAddNpcInitMaster, #charAddNpcInit, #charAddButton, #charRandInit, #charRandInitButton, #sceneNameInput, #sceneAddButton, #sceneSelect, #sceneLoad, #sceneDelButton{
	float: left;
	margin: 5px;
}

#charAddNpcInitMaster, #charAddNpcInit, #charRandInit, #sceneDiv, #sceneAddDiv, #sceneLoadDiv{
	border: 0px;
	padding: 0px;
	margin: 0px;
}

#charAddNpcInitMaster{
	width: 0px;
}

#charAddNpcInit{
	width: 150px;
}

#charNpcInitBaseInput, #charNpcInitD6Input{
	float: left;
	width: 31px;
	margin: 5px;
}

#charRandInit{
	width: 0px;
}

#nextButton {
	width: 100px;
	height: 50px;
	#margin-left: 30%;
	margin-bottom: -37px;
}

/*----------SceneManageForm-----------*/

#sceneSelect{
	width: 235px;
}

#SceneDiv{
	#height: 70px;
}