body {
	font-family: Verdana, Lucida Console;
	font-weight: normal;
	font-size: 20px;
	color: F0F0F0;
	min-width: 400px;
	max-width: 1200px;
	background-color: #203B58;
	background-repeat: no-repeat;
}
}
div {
	overflow: hidden;
	margin: 5px;
}
span {
	border: 0px;
	padding: 0px;
	margin: 0px;
}
input, select, button, textarea {
	font-family: Verdana, Arial, Lucida Console;
	font-weight: bold;
	font-size: 18px;
	color: #FFFFFF;
	background-color: #203B58;
	border: 1px solid #F0F0F0;
	border-radius: 0px;
	outline: none;
	margin: 3px;
}
h1 {
	font-size: 25px;
	color: #DDFFDD;
}
#background-top {
	width: 100%;
	background-repeat: no-repeat;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: -10;
}
#charName {
	width: 20%;
	min-width: 200px;
	font-size: 20px;
	display: inline-block;
	padding-left: 5px;
}
#charInitInput {
	width: 25px;
}
#basementMasterContainer {
	width: 100%;
	padding-top: 20%;
}
#charAddLabel {
	text-align: center;
}
#charAddForm {
	width: 100%;
	text-align: center;
}
#charNameInput {
	width: 200px;
}
#charNpcInitBaseInput, #charNpcInitD6Input, #charWoundMod {
	width: 28px;
}
#charAddTop {
	height: 300px;
}
#charNotes {
	width: 660px;
	height: 24px;
}